.signupView {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signupView h3 {
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}

.signupView > div:nth-child(4) {
  width: auto;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 6.8rem;
  padding-top: 5.3rem;
  flex-direction: column;
}

.signupView > div:nth-child(4) > div {
  margin-bottom: 1.5rem;
  display: flex;
}

.signupView > div:nth-child(4) > div > div:first-of-type {
  margin-right: 2.1rem;
}

.signupView > div:nth-child(4) > div:nth-child(3) {
  flex-direction: column;
}

.signupView input {
  width: 12rem;
  border: none;
  height: 1.8rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  border-radius: .3rem;
  padding: 1rem 0.7rem;
  background: #F5F5F7;
}

.signupView .btn {
  width: 10rem;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .signupView {
    height: auto;
  }

  .signupView .mobileHeader {
    background: white;
  }

  .signupView .mobileHeader h3 {
    margin-bottom: 0;
  }

  .signupView > div:nth-child(4) {
    margin-left: 0;
    padding-top: 0;
    margin-top: 8.6rem;
    padding-bottom: 6rem;
  }

  .signupView > div:nth-child(4) > div {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }

  .signupView > div:nth-child(4) > div > div:first-of-type {
    margin-right: 0;
  }
}