.signInView {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signInView > div:last-of-type {
  width: auto;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 6.8rem;
  padding-top: 5.3rem;
  flex-direction: column;
}

.signInView > div:last-of-type > div:nth-child(2),
.signInView > div:last-of-type > div:last-of-type {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0.7rem;
  font-weight: 500;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInForm input {
  width: 12rem;
  border: none;
  height: 1.8rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  border-radius: .3rem;
  padding: 1rem 0.7rem;
  background: #F5F5F7;
}

.signInForm .btn {
  width: 10rem;
  margin-bottom: 2rem;
}

.signInView p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}