.navBar {
  position: fixed;
  left: 0;
  height: 100%;
  background: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.navLinks {
  background: rgb(120, 121, 121);
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navBar #logo {
  background: none;
  text-align: center;
  align-content: center;
  padding: 0;
  height: 3rem;
}

.navBar .dashboardLinks {
  background: none;
  height: 9rem;
}