.homeView {
  width: 100%;
  padding-left: 6.8rem;
}



.secondRow div,
.firstRow div,
.introRow div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

/* Intro Row */
.introRow div:last-of-type {
  align-items: flex-start;
  text-align: left;
}

.introRow {
  height: 100vh;
  background: #F5F5F7;
  display: flex;
  width: 100%;
}
/*  */

.benefitsRow,
.secondRow,
.firstRow {
  display: flex;
  height: 60vh;
}

.benefitsRow {
  align-items: center;
  justify-content: space-evenly;
}

.benefitsRow div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
}

.secondRow {
  background: #F5F5F7;
}

.firstRow div:last-of-type {
  background: rgb(218, 218, 218);
}

.firstRow .fa-layers {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer {
  background: rgb(218, 218, 218);
  height: 2.6rem;
}