.homeView {
  width: 100%;
  padding-left: 6.8rem;
}

.homeView p {
  font-weight: 500;
  font-size: 0.9rem;
}

.mobileHomeHeader {
  display: none;
}

.secondRow div:last-of-type,
.secondRow div,
.firstRow div,
.introRow div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Intro Row */
.introRow div:last-of-type {
  text-align: left;
  align-items: flex-start;
}

.introRow h1 {
  font-size: 1.8rem;
}

.introRow p {
  width: 16rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.introRow div:last-of-type .btn {
  margin: 0;
  width: 7rem;
  align-items: center;
}

.introRow {
  width: 100%;
  display: flex;
  height: 100vh;
  background: #F5F5F7;
}
/*  */

.benefitsRow,
.secondRow,
.firstRow {
  height: 60vh;
  display: flex;
}

.benefitsRow {
  align-items: center;
  justify-content: space-evenly;
}

.benefitsRow div {
  width: 28%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.benefitsRow p {
  width: 10rem;
  margin-top: 2rem;
}

.secondRow {
  background: #F5F5F7;
}

#rowText {
  width: 15rem;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: flex-start;
}

#rowText p {
  margin-bottom: 1rem;
}

#rowText p:last-of-type {
  margin-bottom: 0;
}

.firstRow > div:last-of-type {
  background: rgb(218, 218, 218);
}

.qrIcons {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lastRow {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: center;
}

.footer {
  display: flex;
  height: 2.4rem;
  align-items: center;
  background: #F5F5F7;
  justify-content: center;
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .homeView {
    padding-left: 0;
  }

  /* Intro Row */
  .introRow {
    padding: 0 1.6rem;
    align-items: center;
    justify-content: center;
  }

  .introRow div:last-of-type {
    width: auto;
    margin-top: 3rem;
    text-align: center;
    align-items: center;
  }

  .introRow h1 {
    font-size: 1.1rem;
  }

  .introRow p {
    width: auto;
  }
  /*  */

  /* First Row */
  .firstRow {
    height: auto;
    text-align: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .firstRow > div:first-of-type {
    width: 100%;
    padding: 3rem 0;
  }

  .firstRow > div:last-of-type {
    width: 100%;
    background: none;
    padding-top: 3rem;
  }

  .qrIcons {
    width: 12rem;
  }
  /*  */

  /* Second Row */
  .secondRow {
    height: auto;
    padding: 3rem 0;
    align-items: center;
    justify-content: space-between;
  }

  .secondRow div:last-of-type,
  .secondRow div {
    height: 50%;
    justify-items: center;
    justify-content: center;
  }

  .secondRow #rowText {
    margin-top: 2rem;
  }
  /*  */

  /* Benefits Row */
  .benefitsRow {
    height: auto;
  }

  .benefitsRow div {
    width: 100%;
    padding: 2.7rem 0;
    border-bottom: 2px solid rgb(218, 218, 218);
  }

  .benefitsRow p {
    margin-top: 1rem;
  }
  /*  */

  /* Last Row */
  .lastRow {
    height: 6rem;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
  }
  /*  */

  .introRow,
  .benefitsRow,
  .secondRow {
    flex-direction: column;
  }

  .mobileHomeHeader {
    top: 0;
    right: 0;
    display: block;
    position: fixed;
  }

  #rowText {
    align-items: center;
  }
}
