*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", sans-serif;
}

#root {
  width: 100vw;
}

/* ######################################################################## */
/* NAVBAR */
/* ######################################################################## */

/* DEBUG AND PRODUCTION STYLING */
.navBar {
  display: flex;
  padding: 1rem;
  background: peru;
}

.navBar > * {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.dashboard_header {
  background: lightgray;
  display: flex;
  flex-direction: column;
}

.viewToggler {
  background: lightslategrey;
  display: flex;
  font-size: .8rem;
  padding: 0.4rem;
  justify-content: center;
}

.viewToggler h4 {
  margin: 0 1rem;
}

.orderCard {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.orderCard .info {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-around;
}

.items {
  background: black;
  color: white;
}

/* DEBUG AND PRODUCTION STYLING */
