*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 20px;
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif;
}

#root {
  width: 100vw;
}

.dashboardFull{
  margin-left: 6.8rem;
  width: 100vw - 6.8rem;
  display: flex;
}

.dashboardHeader {
  top: 0;
  right: 0;
  padding: 2rem;
  display: flex;
  height: 5.3rem;
  position: fixed;
  z-index: 22;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.dashboardHeader h1 {
  font-size: 1.7rem;
}

.fixedSideboard {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background: #F5F5F7;
  width: 17rem;
}

.viewFull {
  width: 100%;
}

.viewSmall {
  width: 40.3rem;
}

.hidden {
  display: none;
}

.btn {
  width: 9rem;
  height: 2rem;
  display: flex;
  margin: .6rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.9rem;
  background: black;
  font-size: 0.63rem;
  font-weight: 700;
  color: white;
}

/* DEBUG AND PRODUCTION STYLING */
.items {
  background: black;
  color: white;
}

.clientMenu h2 {
  text-align: center;
  margin-top: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu > div {
  width: 34%;
  margin: 1rem;
}

.menu > div > h4 {
  margin-bottom: 1rem;
} 

.clientMenu_orderForm {
  border-top: 1px solid gray;
  margin: 0 2rem;
  padding: 2rem 0;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.clientMenu_orderForm > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.clientMenu ul {
  margin-top: 1rem;
}

.clientMenu_orderForm li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.clientMenu_orderForm li div {
  margin: 0 0.4rem;
}

#itemQty {
  display: flex;
  align-items: center;
}

.clientMenu button {
  height: 100%;
  font-size: 0.7rem;
  padding: 0 .2rem;
}

.clientMenu_orderForm > hr {
  margin: 2rem;
}

.itemCard {
  border: 1px solid black;
  padding: 8px;
  margin: 1rem;
  display: flex;
}

.itemCard_exp {
  border: 2px solid black;
  padding: 8px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.itemCard_exp form {
  display: flex;
  flex-direction: column;
  width: 22rem;
  align-self: center;
}

.itemCard_exp div {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* DEBUG AND PRODUCTION STYLING */
