.dashboardHeader .orderToggler {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.orderToggler h4 {
  font-size: 0.7rem;
  margin-left: 0.7rem;
}

#unselected {
  opacity: 0.3
}

#unselected:hover {
  opacity: 1;
}

.ordersCardsView {
  display: grid;
  padding: 5rem;
  padding-left: 3.5rem;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.ordersSideboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(238, 238, 238);
}

.ordersSideboard_view {
  display: flex;
  margin-top: 5.8rem;
  padding: 0.7rem 1.5rem;
  flex-direction: column;
  border-top: 1px dashed black;
}

#total {
  display: flex;
  margin-top: 1rem;
  font-size: 0.65rem;
  justify-content: flex-end;
}

#total h3:last-child {
  font-weight: 400;
  margin-left: 2rem;
}


.ordersSideboard_view_header {
  margin-bottom: 1.4rem;
}

.ordersSideboard_view_header div {
  display: flex;
  font-size: 0.65rem;
}

.order_title {
  margin-bottom: 1rem;
  justify-content: space-between;
}

.order_info {
  font-size: 0.65rem;
  margin-top: 0.2rem;
  display: flex;
}

.order_info h3 {
  overflow-wrap: break-word;
}

.order_info h3:first-child {
  width: 5rem;
}

.order_info:last-child h3:last-child {
  width: 9rem;
}

.ordersSideboard_view_items {
  margin-bottom: 0.7rem;
}

.ordersSideboard_view_items div:first-child {
  margin-bottom: 0.7rem;
}

.order_items {
  font-size: 0.7rem;
}

.order_items h3 {
  margin-bottom: 0.2rem;
}

.ordersSideboard_actionButtons {
  display: flex;
  height: 6.8rem;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed black;
}

.orderCard {
  width: 9rem;
  height: 2rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.9rem;
  justify-content: space-around;
  background: rgb(238, 238, 238);
}

.highlightCard:hover,
.orderCard:hover {
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.25);
}

.highlightCard_header > div,
.orderCard > div {
  width: 5rem;
  display: flex;
  justify-content: space-between;
}

.orderCard > div > h3 {
  padding-right: 0.4rem;
}

#time {
  font-weight: 300;
}

.highlightCard h3,
.orderCard h3 {
  font-size: 0.65rem;
}

#cardSelected {
  color: white;
  background: black;
}

#cardSelected .pastOrder_header,
#cardSelected .highlightCard_header {
  border-bottom: 1px solid white;
}

.highlightCard {
  width: 9rem;
  margin: 1rem;
  display: flex;
  padding: 0.6rem 0;
  border-radius: 0.9rem; 
  flex-direction: column;
  background: rgb(238, 238, 238);
}

.highlightCard_header {
  height: 2rem;
  display: flex;
  padding: 0 0.5rem;
  padding-top: 0.4rem;
  justify-content: space-between;
  border-bottom: 1px dashed black;
}

.highlightCard_items {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0.8rem 0.2rem 0.8rem;
}

.highlightCard_items > div:first-child {
  margin-bottom: 1rem;
}

.highlightCard_items h3 {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

.item_dish,
.item_drink {
  display: flex;
  font-size: 0.7rem;
  flex-direction: row;
  justify-content: space-between;
}

.item_dish > *,
.item_drink > * {
  font-weight: 300;;
}

.pastOrderCard {
  display: flex;
  height: auto;
  padding: 0.6rem 0;
  flex-direction: column;
  padding-bottom: 0.8rem;
}

.pastOrderCard > div {
  display: flex;
  width: 6.3rem;
}

.pastOrderCard > div:first-child {
  width: 100%;
  padding: 0 0.9rem;
  padding-top: 0.3rem;
  margin-bottom: 0.4rem;
  padding-bottom: 0.6rem;
  justify-content: center;
  border-bottom: 1px dashed black;
}

.pastOrder_time {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  flex-direction: column;
}