.dashboardHeader .orderToggler {
  display: flex;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.orderToggler h4 {
  margin-left: 0.7rem;
  font-size: 0.7rem;
}

.ordersCardsView {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.ordersSideboard {
  background: rgb(238, 238, 238);
  border-radius: 0.9rem;
  height: 100%
}

.orderCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: .6rem;
  background: rgb(238, 238, 238);
  height: 2rem;
  width: 9rem;
  border-radius: 0.9rem;
}

.highlightCard h3,
.orderCard h3 {
  font-size: 0.8rem;
}


#cardSelected {
  background: black;
  color: white;
}

.highlightCard {
  width: 9rem;
  display: flex;
  margin: 0.6rem;
  padding: 0.6rem 0;
  border-radius: 0.9rem; 
  flex-direction: column;
  background: rgb(238, 238, 238);
}

.highlightCard_header {

}

.highlightCard_header_title {
  display: flex;
  justify-content: space-around;
}

.highlightCard_header_time {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.highlightCard_items {
  display: flex;
  flex-direction: column;
  margin: 0.6rem 0.6rem;
}

.highlightCard_items > div {
  margin-bottom: 2rem;
}

.highlightCard_items h3 {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.highlightCard_items > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7rem;
}